
RewriteEngine on

RewriteRule ^/?$ /api/ [R]


RewriteRule ^api/?$ /index.php

#get infos sur un utilisateur
Header set Access-Control-Allow-Origin "*"
RewriteRule ^api/user/([0-9]+)/?$ /user.php?user=$1

#get objets d'un utilisateur
Header set Access-Control-Allow-Origin "*"
RewriteRule ^api/user/([0-9]+)/objets/?$ /user.php?user=$1&objets=1

#get infos sur un objet
Header set Access-Control-Allow-Origin "*"
RewriteRule ^api/objet/([0-9]+)/?$ /objet.php?action=info&objet=$1

#Delete object
Header set Access-Control-Allow-Origin "*"
RewriteRule ^api/objet/([0-9]+)/delete/?$ /objet.php?action=delete&objet=$1

#Insert object
Header set Access-Control-Allow-Origin "*"
RewriteCond %{REQUEST_METHOD} POST
RewriteRule ^api/objet/insert/?$ /objet.php?action=insert

#Update object
Header set Access-Control-Allow-Origin "*"
RewriteCond %{REQUEST_METHOD} POST
RewriteRule ^api/objet/update/?$ /objet.php?action=update

#get infos sur une foire
Header set Access-Control-Allow-Origin "*"
RewriteRule ^api/foire/([0-9]+)/?$ /foire.php?foire=$1

#get objets d'un user d'une foire
Header set Access-Control-Allow-Origin "*"
RewriteRule ^api/foire/([0-9]+)/vendeur/([0-9]+)/?$ /foire.php?foire=$1&user=$2

#get objets d'une foire
Header set Access-Control-Allow-Origin "*"
RewriteRule ^api/foire/([0-9]+)/objets/?$ /foire.php?foire=$1&objets=1

#Mettre a jour infos utilisateur
Header set Access-Control-Allow-Origin "*"
RewriteCond %{REQUEST_METHOD} POST
RewriteRule ^api/user/update/?$ /user.php?action=update

#Creer un utilisateur
Header set Access-Control-Allow-Origin "*"
RewriteCond %{REQUEST_METHOD} POST
RewriteRule ^api/user/insert/?$ /user.php?action=insert

#Mettre a jour mot de passe
Header set Access-Control-Allow-Origin "*"
RewriteCond %{REQUEST_METHOD} POST
RewriteRule ^api/user/update/password/?$ /user.php?action=updatepwd

#Connexion
Header set Access-Control-Allow-Origin "*"
RewriteCond %{REQUEST_METHOD} POST
RewriteRule ^api/connexion/?$ /connexion.php
